## Based recommandation system

In [3]:
import os
import numpy as np
import pandas as pd

In [4]:
movies_names = pd.read_csv("data/movies.csv")
movies_names.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings_data= pd.read_csv("data/ratings.csv")
ratings_data.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [6]:
movie_data =  pd.merge(ratings_data , movies_names , on= 'movieId')
movie_data.head(5)

   userId  movieId  rating   timestamp                   title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)  Drama
1       7       31     3.0   851868750  Dangerous Minds (1995)  Drama
2      31       31     4.0  1273541953  Dangerous Minds (1995)  Drama
3      32       31     4.0   834828440  Dangerous Minds (1995)  Drama
4      36       31     3.0   847057202  Dangerous Minds (1995)  Drama

## Crit√®res de recommandation 
##### 1- film avec le plus d'avis
##### 2- nombre de vues

## Moyenne des avis de films

In [7]:
movie_data.groupby('title')['rating'].mean().head()

title
"Great Performances" Cats (1998)           1.750000
$9.99 (2008)                               3.833333
'Hellboy': The Seeds of Creation (2004)    2.000000
'Neath the Arizona Skies (1934)            0.500000
'Round Midnight (1986)                     2.250000
Name: rating, dtype: float64

In [8]:
movie_data.groupby('title')['rating'].mean().sort_values(ascending=False).head(10)

title
Ivan Vasilievich: Back to the Future (Ivan Vasilievich menyaet professiyu) (1973)    5.0
Alien Escape (1995)                                                                  5.0
Boiling Point (1993)                                                                 5.0
Bone Tomahawk (2015)                                                                 5.0
Borgman (2013)                                                                       5.0
Survive and Advance (2013)                                                           5.0
Supercop 2 (Project S) (Chao ji ji hua) (1993)                                       5.0
Last Dragon, The (1985)                                                              5.0
Boy Crazy (2009)                                                                     5.0
Brandon Teena Story, The (1998)                                                      5.0
Name: rating, dtype: float64

## comptage de film

In [9]:
movie_data.groupby('title')['rating'].count().sort_values(ascending=False).head(10)

title
Forrest Gump (1994)                          341
Pulp Fiction (1994)                          324
Shawshank Redemption, The (1994)             311
Silence of the Lambs, The (1991)             304
Star Wars: Episode IV - A New Hope (1977)    291
Jurassic Park (1993)                         274
Matrix, The (1999)                           259
Toy Story (1995)                             247
Schindler's List (1993)                      244
Terminator 2: Judgment Day (1991)            237
Name: rating, dtype: int64

### Ajout du comptage des films a notre table

In [10]:
movie_data[['title', 'rating']]

                                       title  rating
0                     Dangerous Minds (1995)     2.5
1                     Dangerous Minds (1995)     3.0
2                     Dangerous Minds (1995)     4.0
3                     Dangerous Minds (1995)     4.0
4                     Dangerous Minds (1995)     3.0
...                                      ...     ...
99999               War of the Worlds (2005)     2.5
100000                       Box, The (2009)     3.5
100001                 Pie in the Sky (1996)     3.0
100002                   Summer Catch (2001)     1.0
100003  6th Man, The (Sixth Man, The) (1997)     1.0

[100004 rows x 2 columns]

#### calcul de la moyenne des avis

In [11]:
ratings_mean_count = pd.DataFrame(movie_data.groupby('title')['rating'].mean())
ratings_mean_count

                                             rating
title
"Great Performances" Cats (1998)           1.750000
$9.99 (2008)                               3.833333
'Hellboy': The Seeds of Creation (2004)    2.000000
'Neath the Arizona Skies (1934)            0.500000
'Round Midnight (1986)                     2.250000
...                                             ...
xXx (2002)                                 2.478261
xXx: State of the Union (2005)             1.000000
¬°Three Amigos! (1986)                      3.258065
√Ä nous la libert√© (Freedom for Us) (1931)  4.500000
ƒ∞tirazƒ±m Var (2014)                        3.500000

[9064 rows x 1 columns]

##### Calcul du nombre d'√©valuations et la note moyenne ci-dessus

In [12]:
ratings_mean_count['rating_counts'] = pd.DataFrame(movie_data.groupby('title')['rating'].count())

In [13]:
ratings_mean_count.head(5)

                                           rating  rating_counts
title
"Great Performances" Cats (1998)         1.750000              2
$9.99 (2008)                             3.833333              3
'Hellboy': The Seeds of Creation (2004)  2.000000              1
'Neath the Arizona Skies (1934)          0.500000              1
'Round Midnight (1986)                   2.250000              2

In [14]:
ratings_mean_count['rating'] = round(ratings_mean_count['rating'], 1) #arondir a un chiffre apres la virgule

In [15]:
ratings_mean_count.head(5)

                                         rating  rating_counts
title
"Great Performances" Cats (1998)            1.8              2
$9.99 (2008)                                3.8              3
'Hellboy': The Seeds of Creation (2004)     2.0              1
'Neath the Arizona Skies (1934)             0.5              1
'Round Midnight (1986)                      2.2              2

In [16]:
ratings_mean_count =  ratings_mean_count[(ratings_mean_count['rating']> 3 ) & (ratings_mean_count['rating_counts']>100)]
ratings_mean_count

                                            rating  rating_counts
title
2001: A Space Odyssey (1968)                   3.9            123
Airplane! (1980)                               3.8            106
Aladdin (1992)                                 3.7            215
Alien (1979)                                   4.0            127
Aliens (1986)                                  3.9            125
...                                            ...            ...
While You Were Sleeping (1995)                 3.4            101
Who Framed Roger Rabbit? (1988)                3.7            108
Willy Wonka & the Chocolate Factory (1971)     3.8            148
Wizard of Oz, The (1939)                       4.0            117
X-Men (2000)                                   3.6            127

[145 rows x 2 columns]

In [17]:
ratings_mean_count = ratings_mean_count.sort_values(by = "rating" , ascending=False).head(10)
ratings_mean_count

                                                    rating  rating_counts
title
Godfather, The (1972)                                  4.5            200
Shawshank Redemption, The (1994)                       4.5            311
Usual Suspects, The (1995)                             4.4            201
Godfather: Part II, The (1974)                         4.4            135
Pulp Fiction (1994)                                    4.3            324
Fargo (1996)                                           4.3            224
One Flew Over the Cuckoo's Nest (1975)                 4.3            144
Schindler's List (1993)                                4.3            244
Taxi Driver (1976)                                     4.2            118
Lord of the Rings: The Fellowship of the Ring, ...     4.2            200

#### calcul de la similarit√© cosinus en python

In [18]:
from math import*
def square_rooted(x):
    return round(sqrt(sum([a*a for a in x])), 3)
def cosine_similarity(x,y):
    numerator =  sum(a*b for a,b in zip(x,y))
    denominator = square_rooted(x)*square_rooted(y)
    return round(numerator/float(denominator), 3)

In [19]:
print(cosine_similarity([3,45,7,2],[2,54,13,15]))

0.972

In [20]:
#Autre methode pour calculer

# Vecteurs a et b
a = np.array([3, 45, 7, 2])
b = np.array([2, 54, 13, 15])

# Calcul de la similarit√© cosinus
dot_product = np.dot(a, b)
norm_a = np.linalg.norm(a)
norm_b = np.linalg.norm(b)
cosine_similarity =round(( dot_product / (norm_a * norm_b)),3)

cosine_similarity

0.972

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Deux phrases √† comparer
sentence1 = "La maison est jolie et grande."
sentence2 = "La grande maison est tr√®s jolie."

# Pr√©traitement et conversion en vecteurs TF-IDF
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform([sentence1, sentence2])

# Calcul de la similarit√© cosinus
cosine_sim = cosine_similarity(tfidf_matrix[0:1], tfidf_matrix[1:2])

cosine_sim[0][0]

0.7168117414430619

In [90]:
from sklearn.feature_extraction.text import CountVectorizer

pd.set_option('display.max_columns',100)
df= pd.read_csv('https://query.data.world/s/uikepcpffyo2nhig52xxeevdialfl7')
df.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings.Source,Ratings.Value,Metascore,imdbRating,imdbVotes,imdbID,Type,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...,English,USA,Nominated for 7 Oscars. Another 19 wins & 30 n...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.3/10,80.0,9.3,"1,825,626",tt0111161,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...,"English, Italian, Latin",USA,Won 3 Oscars. Another 23 wins & 27 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.2/10,100.0,9.2,"1,243,444",tt0068646,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...,"English, Italian, Spanish, Latin, Sicilian",USA,Won 6 Oscars. Another 10 wins & 20 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.0/10,85.0,9.0,"856,870",tt0071562,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...,"English, Mandarin","USA, UK",Won 2 Oscars. Another 151 wins & 153 nominations.,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,9.0/10,82.0,9.0,"1,802,351",tt0468569,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...,English,USA,Nominated for 3 Oscars. Another 16 wins & 8 no...,https://images-na.ssl-images-amazon.com/images...,Internet Movie Database,8.9/10,96.0,8.9,"494,215",tt0050083,movie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

In [91]:
df.shape

(250, 38)

#### On va se servir du titre , du genre , du directeur , des acteurs et du resum√© pour sortir des recommandations

In [92]:
df = df [['Title', 'Genre' , 'Director', 'Actors' , 'Plot']]
df.head()

,Title,Genre,Director,Actors,Plot
0,The Shawshank Redemption,"Crime, Drama",Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Two imprisoned men bond over a number of years...
1,The Godfather,"Crime, Drama",Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Richard ...",The aging patriarch of an organized crime dyna...
2,The Godfather: Part II,"Crime, Drama",Francis Ford Coppola,"Al Pacino, Robert Duvall, Diane Keaton, Robert...",The early life and career of Vito Corleone in ...
3,The Dark Knight,"Action, Crime, Drama",Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",When the menace known as the Joker emerges fro...
4,12 Angry Men,"Crime, Drama",Sidney Lumet,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",A jury holdout attempts to prevent a miscarria...

In [93]:
# Enlever les virgules entre les noms complets des acteurs et ne conserver que les trois premiers noms

df['Actors'] = df['Actors'].map(lambda x: x.split(',')[:3])

In [94]:
#mettre les genres dans une liste de mots
df['Genre'] = df['Genre'].map(lambda x: x.lower().split(',')[:3])

In [95]:
df['Director']= df['Director'].map(lambda x: x.split(' '))

In [97]:
for index , row in df.iterrows():
    row['Actors'] = [x.lower().replace('','') for x in row['Actors']]
    row['Director'] = ''.join(row['Director']).lower()

In [99]:
df['Actors']

0            [Tim Robbins,  Morgan Freeman,  Bob Gunton]
1               [Marlon Brando,  Al Pacino,  James Caan]
2             [Al Pacino,  Robert Duvall,  Diane Keaton]
3        [Christian Bale,  Heath Ledger,  Aaron Eckhart]
4           [Martin Balsam,  John Fiedler,  Lee J. Cobb]
                             ...
245           [Ray Milland,  Jane Wyman,  Phillip Terry]
246    [Brie Larson,  John Gallagher Jr.,  Stephanie ...
247      [Cary Grant,  Rosalind Russell,  Ralph Bellamy]
248    [Sissy Spacek,  Jane Galloway Heitz,  Joseph A...
249           [Dev Patel,  Saurabh Shukla,  Anil Kapoor]
Name: Actors, Length: 250, dtype: object

In [98]:
df['Director']

0                      [Frank, Darabont]
1               [Francis, Ford, Coppola]
2               [Francis, Ford, Coppola]
3                   [Christopher, Nolan]
4                        [Sidney, Lumet]
                     ...
245                      [Billy, Wilder]
246            [Destin, Daniel, Cretton]
247                      [Howard, Hawks]
248                       [David, Lynch]
249    [Danny, Boyle,, Loveleen, Tandan]
Name: Director, Length: 250, dtype: object